/*
Some Colors
	#86cba4 - light green
	#c69838 - orange
	#005FC2 - blue ink pen
	#c88484 - light red
	#5d5443 - brown
	#e4e4dc - white
	#7b76b7 - purple
	#6b6356 - light brown
*/
*{
	margin:0;
	padding: 0;
}

body{
	padding-bottom: 70px;
	margin-right: 10%;
	margin-left: 10%;
	/*background-color: #e4e4dc;*/
	font-family: Helvetica;
}

header{
	background-color: #1F211D;
	color: #E7E6E8;
	height: 45px;
	width: 100%;
	position: fixed;
	top: 0px;
	text-align: center;
	vertical-align: middle;
}

textarea{
	width: 170px;
	max-width: 200px;
	height: 100px;
	max-height: 100px;
	border: 2px solid #c69838; 
   border-radius: 5px;
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,170,63,0.4);
    margin: 0 0 4px 0;
    color: black;
}


/*--------------------------------------------------------------------Fonts*/
@font-face{
	font-family: MarkerFelt;
	src:url(../fonts/MarkerFelt.ttc);
	src:  url(../fonts/MarkerFelt.ttf.woff);
    font-weight: normal;
    font-style: normal;
}

#handwriting{
	font-family: MarkerFelt;
	color: #005FC2;
}

@font-face{
	font-family:Helvetica;
	src:url(../fonts/Helvetica.dfont);
}

#normalFont{
	font-family: Helvetica;
	/*color:#7b76b7 ;*/
}

.navbar{
	text-align: center;
	vertical-align: middle;
}

/*Wrapper*/
.wrapper{
	/*position: fixed;*/
	height:800px;
}

/*Content*/
.content{
	padding-top: 30px;
	margin-top: 30px;
	vertical-align: middle;
	text-align: center;
}

.wordWrap{
	word-wrap: break-word;
}


#landingPageContent{
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-color: #080808;
	background-position: center bottom;
}

/*Call to action*/
.CTA h1{
	/*color: #e4e4dc;*/
}

/*.CTA{
	background-color:rgba(0, 0, 0, 0.30);
	border-radius: 9px;
	height: 700px;
	border-radius: 10px;
}*/

/*image page styling*/
.image{
	margin-top: -90px;
}

.buttons{
	margin-top: 540px;
}

#toggle{
	/*margin: 0;*/
	cursor: pointer;
}

.hidden{
	visibility: hidden;
}

.visible{
	visibility: visible;
}

/*---------------------------------------------------------------------------------------flip Buttons*/
.frontFlip{
	float: right;
	margin-right: 5px; 
}

.backFlip{
	float: right;
	margin-right: 5px;
	margin-top: 95px;
}

/*-----------------------------------------------------------------------------album styling*/
.album{
	/*border: 1px solid black;*/
	border-radius: 4px;
	/*background-color:rgba(50, 50, 50, 0.21);*/
	background-color: rgba(171,158,137, 0.66);
	/*background-color:#6b6356;*/
	/*width: 155px;*/
	height: 340px; 
}

#albumDiv{
	display: block;
	text-decoration: none;
	color: inherit;
	margin-top: 15px;
	background-image: url(../images/book.jpg);
}

.albumWrapper{
	border-radius: 6px;
	background-color:rgba(50, 50, 50, 0.21);
	margin: 0;
	padding: 0;
	height: 650px; 
	max-height: 1000px;
}

/*.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}*/

.success{
	width: 350px;
	height: 200px;
	text-align: center
}



/*-------------------------------------------------------------------------------------Colors*/
.white{
	color: #e4e4dc;
}

.highlight{
	color: #c69838 ;
}

.red{
	color:#c88484 ;
};

.ink{
	color:#005FC2;
}

.black{
	color:#09140B;
}

#logoContainer{
	text-align: center;
	vertical-align: middle;
}

.imageInAlbum{
	width: 150px;
	height: 150px;
	float: left;
}

.imageInAlbum2{
	width: 150px;
	height: 150px;
	float: left;
	margin-top: 30px;
}

#photoDiv{
	display: block;
	text-decoration: none;
	color: inherit;
	float: left;
	clear:none;
	margin-right: 15px;
	margin-left: 25px;
	margin-bottom: 35px;
	/*margin-top: 1%;*/
}

.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.uploadPicture{
	text-align: right;
	border-right: solid 1px black;
}

.createAlbum{
	text-align: left;
}

#upload{
	text-align: right;
	margin-left: 430px;
	position: relative;
}

#deleteMultiple{
	width: 90px;
	height: 100px;
}

/*--------------------------------------------------------------------------------------Input Fields*/

#month{
	width: 58px;
	border: 2px solid #c69838; 
   border-radius: 5px;
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,170,63,0.4);
    margin: 0 0 4px 0;
    color: black;
    height:30px;
}

#day{
	width:56px;
	border: 2px solid #c69838; 
   border-radius: 5px;
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,170,63,0.4);
    margin: 0 0 4px 0;
    color: black;
    height:30px;
}

#year{
	width: 71px;
	border: 2px solid #c69838; 
   border-radius: 5px;
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,170,63,0.4);
    margin: 0 0 4px 0;
    color: black;
    height:30px;
}

#uploads{
	text-align: right;
}

#deleteMultiple{
	border: 2px solid #86cba4;
	font-family: Helvetica;
	padding-top: 5px;
	padding-left: 5px;
	width: 115px;
	height: 120px;
}

.inputStyled{
   border: 2px solid #c69838; 
   border-radius: 5px;
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,170,63,0.4);
    margin: 0 0 4px 0;
    color: black;
    height:30px;
    width: 175px;

}

::-webkit-input-placeholder {
   color: black;
}

.editRight{
	/*text-align: left;*/
}

/*----------------------------------------------------------------------------------------------Icons*/
#albums{
	background-image: url(../images/icons/albums.png);
	background-repeat: no-repeat;
}	

#add{
	background-image: url(../images/icons/add.png);
	background-repeat: no-repeat;
}

#search{
	background-image: url(../images/icons/search.png);
	background-repeat: no-repeat;
}

#menu{
	background-image: url(../images/icons/menu.png);
	background-repeat: no-repeat;
}



/*--------------------------------------------------------------------------------------------Tabs -----*/
.tabs {
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        /*content:'';*/
    }
 
    .tab-links li {
        float:left;
        list-style:none;
        text-align: center;
       /* width:72px;
    	height:48px;*/
    	 width:68px;
    	height:45px;
    }
 
        .tab-links a {
            /*padding:9px 15px;*/
            display:inline-block;
            border-radius:0px 0px 0px 0px;
            width:68px;
    		height:50px;
            /*background:#7FB5DA;*/
            font-size:16px;
            font-weight:600;
            color:#86cba4;
            /*transition:all linear 0.15s;*/
        }
 
        .tab-links a:hover {
            /*background:#86cba4;*/
            background: rgba(134, 203, 164, .5);
            text-decoration:none;
        }

     li.active a{
     	background: rgba(134, 203, 164, .5);
     }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }

        .tab-links.active a{
        	background: rgba(134, 203, 164, .5);
        }



/*--------------------------------------------------------------------------------------------------------------------DIV FLIP CSS */
/*container, keeps perspective*/
.albumflip-container{
	-webkit-perspective: 1000;
	position: absolute;
	top: 125px;
	left: 1px;
}

/*flip pane when activeed*/
.albumflip-container:active .albumflipper, .albumflip-container.active .albumflipper{
	-webkit-transform:rotateX(180deg);
}

.albumflip-container, .albumfront, .albumback{
	width: 440px;
	height: 493px;
}
/*flip speed goes here*/
.albumflipper{
	-webkit-transition: 0.7s;
	-webkit-transform-style: preserve-3d;
	position: relative;
}

/*hide back of pane during swap*/
.albumfront, .albumback{
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/*front pane, placed above back*/
.albumfront{
	-webkit-z-index: 2;
	-webkit-transform: rotateY(0deg);
	/*background-color: #F7E730;*/
	background-image : url(../images/book.jpg); 
}

/*back, hidden pane*/
.albumback{
	-webkit-transform: rotateY(180deg);
	text-align: left;
	padding-left: 10px;
	padding-top: 10px;
	/*background-color: #E0A32C;*/
	background-image: url(../images/book.jpg);
}



/*container, keeps perspective*/
.flip-container{
	-webkit-perspective: 1000;
	position: absolute;
	top: 125px;
	left: 1px;
}

/*flip pane when activeed*/
.flip-container:active .flipper, .flip-container.active .flipper{
	-webkit-transform:rotateY(180deg);
}

.flip-container, .front, .back{
	width: 455px;
	height: 493px;
}
/*flip speed goes here*/
.flipper{
	-webkit-transition: 0.7s;
	-webkit-transform-style: preserve-3d;
	position: relative;
}

/*hide back of pane during swap*/
.front, .back{
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/*front pane, placed above back*/
.front{
	-webkit-z-index: 2;
	-webkit-transform: rotateY(0deg);
	/*background-color: #F7E730;*/
	background-image : url(../images/p1back.jpg); 
}

/*back, hidden pane*/
.back{
	-webkit-transform: rotateY(180deg);
	text-align: left;
	padding-left: 10px;
	padding-top: 10px;
	/*background-color: #E0A32C;*/
	background-image: url(../images/p1back.jpg);
}

/*---------------------------------------------------------------------------------- SMALL FLIPPER*/

/*.frontSmall{
	width: 153px;
	height: 200px;
}*/

/*container, keeps perspective*/
.flip-containerSmall{
	-webkit-perspective: 1000;
	position: absolute;
	top: 125px;
	left: 1px;
}

/* flip the pane when hovered */
	.flip-containerSmall:hover .flipperSmall, .flip-containerSmall.hover .flipperSmall {
		transform: rotateY(180deg);
	}


/*flip pane when activeed*/
.flip-containerSmall:active .flipperSmall, .flip-containerSmall.active .flipperSmall{
	-webkit-transform:rotateY(180deg);
}

.flip-containerSmall, .frontSmall, .backSmall{
	width: 153px;
	height: 205px;
}

/*
.frontSmall, .backSmall{
	border:1px black solid;
}*/

/*flip speed goes here*/
.flipperSmall{
	-webkit-transition: 0.7s;
	-webkit-transform-style: preserve-3d;
	position: relative;
}

/*hide back of pane during swap*/
.frontSmall, .backSmall{
	-webkit-backface-visibility: hidden;
	position: absolute;
	background-image : url(../images/p1back.jpg); 
	/*top: 0;
	left: 0;*/
}

/*front pane, placed above back*/
.frontSmall{
	-webkit-z-index: 2;
	-webkit-transform: rotateY(0deg);
	/*background-color: #F7E730;*/
	/*background-image : url(../images/p1.jpg); */
}

/*back, hidden pane*/
.backSmall{
	-webkit-transform: rotateY(180deg);
	text-align: left;
	padding-left: 10px;
	padding-top: 10px;
	overflow: scroll;
	/*background-color: #E0A32C;*/
	/*background-image: url(../images/p1back.jpg);*/
}

/*-------------------------------------------------------------------------------------------------------Button classes*/
.downloadBtn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  color: #ffffff;
  font-size: 17px;
  background: #c69838;
  padding: 7px 13px 7px 13px;
  /*border: solid #2b2b2b 2px;*/
  text-decoration: none;
}

.downloadBtn:hover {
  background: #b87e09;
  text-decoration: none;
  color: #ffffff;
}


.deleteBtn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  color: #ffffff;
  font-size: 17px;
  background: #c47373;
  padding: 7px 13px 7px 13px;
  /*border: solid #2b2b2b 2px;*/
  text-decoration: none;
}

.deleteBtn:hover {
  background: #bd3b3b;
  text-decoration: none;
  color: #ffffff;
}

.flipBtn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  color: #ffffff;
  font-size: 17px;
  background: #4ccf85;
  padding: 7px 13px 7px 13px;
  /*border: solid #2b2b2b 2px;*/
  text-decoration: none;
}

.flipBtn:hover {
  background: #12cc63;
  text-decoration: none;
  color: #ffffff;
}

.editBtn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  color: #ffffff;
  font-size: 17px;
  background: #7b76b7;
  padding: 7px 13px 7px 13px;
  /*border: solid #2b2b2b 2px;*/
  text-decoration: none;
}

.editBtn:hover {
  background: #595685;
  text-decoration: none;
  color: #ffffff;
}


.loginBtn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  color: #ffffff;
  font-size: 26px;
  background: #86cba4;
  padding: 1px 28px 1px 28px;
  /*border: solid #2b2b2b 2px;*/
  text-decoration: none;
}

.loginBtn:hover {
  /*background: #42bd77;*/
  background: #55BE68;
  text-decoration: none;
}


.signupBtn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  color: #ffffff;
  font-size: 26px;
  background: #7b76b7;
  padding: 1px 28px 1px 28px;
  /*border: solid #2b2b2b 2px;*/
  text-decoration: none;
}

.signupBtn:hover {
  background: #595685;
  text-decoration: none;
}

.sortBtn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  color: #ffffff;
  font-size: 15px;
  background: #7b76b7;
  padding: 3px 10px 3px 10px;
  /*border: solid #2b2b2b 2px;*/
  text-decoration: none;
}

.sortBtn:hover {
  background: #595685;
  text-decoration: none;
}

.uploadBtn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  color: #ffffff;
  font-size: 15px;
  height:34px;
  background: #7b76b7;
  padding: 1px 10px 1px 10px;
  /*border: solid #2b2b2b 2px;*/
  text-decoration: none;
}

.uploadBtn:hover {
  background: #595685;
  text-decoration: none;
}

.createBtn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  color: #ffffff;
  font-size: 15px;
  height:34px;
  background: #7b76b7;
  padding: 1px 10px 1px 10px;
  /*border: solid #2b2b2b 2px;*/
  text-decoration: none;
}

.createBtn:hover {
  background: #595685;
  text-decoration: none;
}

.searchBtn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  color: #ffffff;
  font-size: 15px;
  height:34px;
  background: #7b76b7;
  padding: 1px 10px 1px 10px;
  /*border: solid #2b2b2b 2px;*/
  text-decoration: none;
}

.searchBtn:hover {
  background: #595685;
  text-decoration: none;
}