*{
	margin:0;
	padding: 0;
}

body{
	padding-bottom: 70px;
}

header{
	background-color: #1F211D;
	color: #E7E6E8;
	height: 64px;
	width: 100%;
	position: fixed;
	top: 0px;
	text-align: center;
	vertical-align: middle;
}

.wrapper{
	/*position: fixed;*/
	height:900px;
}

.content{
	padding-top: 79px;
	margin-top: 79px;
	vertical-align: middle;
	text-align: center;
}


#logoContainer{
	text-align: center;
	vertical-align: middle;
}

/*----- Tabs -----*/
.tabs {
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        /*content:'';*/
    }
 
    .tab-links li {
        float:left;
        list-style:none;
        text-align: center;
         width:90px;
    	height:60px;
    }
 
        .tab-links a {
            /*padding:9px 15px;*/
            display:inline-block;
            border-radius:0px 0px 0px 0px;
             width:90px;
    		height:64px;
            /*background:#7FB5DA;*/
            font-size:16px;
            font-weight:600;
            color:#86cba4;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            /*background:#86cba4;*/
            background: rgba(134, 203, 164, .5);
            text-decoration:none;
        }

     li.active a{
     	background: rgba(134, 203, 164, .5);
     }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }

        .tab-links.active a{
        	background: rgba(134, 203, 164, .5);
        }

#albums{
	background-image: url(../images/albums.png);
}	

#add{
	background-image: url(../images/add.png);
}

#search{
	background-image: url(../images/search.png);
}

#menu{
	background-image: url(../images/menu.png);
}

.navbar{
	text-align: center;
	vertical-align: middle;
}